.hero {
	padding: 5.6vw;
	min-width: 80vw;
	background-image: url(../images/hero_desktop.jpeg);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

	&__content {
		max-width: 640px;
	}
}
